[submodule "dataset/modules/license-list-data"]
	path = dataset/modules/license-list-data
	url = https://github.com/spdx/license-list-data.git
[submodule "datasets/modules/askalono"]
	path = datasets/modules/askalono
	url = https://github.com/jpeddicord/askalono.git
